<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bezirk.android.bezirkAsALibrary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon, label, theme">
        <activity android:name="com.bezirk.android.RemoteLoggingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.bezirk.middleware.proxy.android.ZirkMessageReceiver">
            <intent-filter>
                <action android:name="com.bezirk.middleware.broadcast" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name="com.bezirk.android.MainActivity"></activity>
    </application>

</manifest>