<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bezirk.spheremanager"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="icon, label, theme">

        <!-- Done via Programmatically
        <receiver android:name="DeviceListActivity$SphereIntentReceiver" >
            <intent-filter>
                <action android:name="com.bosch.upa.uhu.spherenotfication" >
                <category android:name="android.intent.category.DEFAULT" />
                </action>
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name="com.bezirk.spheremanager.PipeActivity"
            android:label="Pipe Activity">
        </activity>
        <activity
            android:name="com.bezirk.spheremanager.SphereListActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.bezirk.spheremanager.DeviceListActivity"
            android:label="@string/title_sphere_detail"
            android:parentActivityName="com.bezirk.spheremanager.SphereListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bezirk.spheremanager.SphereListActivity" />
        </activity>
        <activity
            android:name="com.bezirk.spheremanager.SelectServiceActivity"
            android:label="@string/title_activity_member_detail"
            android:parentActivityName="com.bezirk.spheremanager.DeviceListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bezirk.spheremanager.DeviceListActivity" />
        </activity>
        <!--<activity-->
            <!--android:name=".ScanActivity"-->
            <!--android:label="@string/title_activity_scan"-->
            <!--android:parentActivityName=".SphereListActivity" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="SphereListActivity" />-->
        <!--</activity>-->
        <activity
            android:name="com.bezirk.spheremanager.NewPipeActivity"
            android:label="@string/title_activity_pipe"
            android:parentActivityName="com.bezirk.spheremanager.SphereListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bezirk.spheremanager.SphereListActivity" />
        </activity>
        <activity
            android:name="com.bezirk.spheremanager.ShareSphereActivity"
            android:label="@string/title_activity_share_sphere"
            android:parentActivityName="com.bezirk.spheremanager.DeviceListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bezirk.spheremanager.DeviceListActivity" />
        </activity>
        <activity
            android:name="com.bezirk.spheremanager.PipePolicyActivity"
            android:label="@string/title_activity_pipe_policy"
            android:parentActivityName="com.bezirk.spheremanager.NewPipeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bezirk.spheremanager.PipeActivity" />
        </activity>
        <activity
            android:name="com.bezirk.spheremanager.InformationActivity"
            android:label="@string/title_activity_information"
            android:parentActivityName="com.bezirk.spheremanager.SelectServiceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bezirk.spheremanager.SelectServiceActivity" />
        </activity>
        <activity
            android:name="com.bezirk.spheremanager.PipeListActivity"
            android:label="@string/title_activity_manage_pipes"
            android:parentActivityName="com.bezirk.spheremanager.SphereListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bezirk.spheremanager.SphereListActivity" />
        </activity>
        <activity
            android:name="com.bezirk.spheremanager.ManagePipesActivity"
            android:label="@string/title_activity_manage_pipes"
            android:parentActivityName="com.bezirk.spheremanager.PipeListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bezirk.spheremanager.PipeListActivity" />
        </activity>
        <activity
            android:name="com.bezirk.spheremanager.UpdateUserCredentialsActivity"
            android:label="@string/title_activity_update_user_credentials"
            android:parentActivityName="com.bezirk.spheremanager.PipeListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bezirk.spheremanager.PipeListActivity" />
        </activity>
    </application>

</manifest>
