<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bezirk.controlui">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--  required to access the wifi state permission-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bezirk_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="icon, label, theme">
        <!-- The receiver is now bound to the DeviceControlActivity lifecycle -->
        <!--<receiver android:name=".DeviceControlActivity$DeviceIntentReceiver" >-->
        <!--<intent-filter>-->
        <!--<action android:name="com.bosch.upa.uhu.controluinotfication" >-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</action>-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <activity
            android:name="com.bezirk.controlui.ControlActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bezirk.controlui.RestConfigActivity"
            android:label="Rest configurations"></activity>
        <activity
            android:name="com.bezirk.controlui.DeviceTypeSelection"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Device Type Selection"></activity>

        <service
            android:name="com.bezirk.starter.MainService"
            android:exported="true">

        </service>

        <!--
        <receiver android:name="com.bosch.upa.uhu.sphere.juggler.SphereScanner" >
            <intent-filter>
                <action android:name="SphereScanReceiver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name="com.bezirk.controlui.logging.SphereSelectLoggingActivity"
            android:label="@string/title_activity_sphere_select_logging"></activity>
        <activity
            android:name="com.bezirk.controlui.logging.LogDataActivity"
            android:label="@string/title_activity_log_data"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.bezirk.controlui.commstest.CommsTestActivity"
            android:label="@string/title_activity_comms_test"></activity>
    </application>

</manifest>
