<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bezirk"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/upa_launcher"
        android:label="@string/app_name">

        <!--TODO: Change name of the service from ComponentManager to something more fitting-->
        <service
            android:name="com.bezirk.componentManager.ComponentManager"
            android:exported="true"></service>
    </application>

</manifest>
